In [1]:
import pandas as pd
from data_loader import load_data

In [2]:
def preprocess_data():
    """Cleans and preprocesses the dataset"""
    df = load_data()

    # Drop duplicate target column if exists
    if 'y.1' in df.columns:
        df = df.drop(columns=['y.1'])

    # Convert timestamp to datetime
    df["time"] = pd.to_datetime(df["time"])

    return df

if __name__ == "__main__":
    df = preprocess_data()
    print(df.info())  # Test preprocessing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18398 entries, 0 to 18397
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    18398 non-null  datetime64[ns]
 1   y       18398 non-null  int64
 2   x1      18398 non-null  float64
 3   x2      18398 non-null  float64
 4   x3      18398 non-null  float64
 5   x4      18398 non-null  float64
 6   x5      18398 non-null  float64
 7   x6      18398 non-null  float64
 8   x7      18398 non-null  float64
 9   x8      18398 non-null  float64
 10  x9      18398 non-null  float64
 11  x10     18398 non-null  float64
 12  x11     18398 non-null  float64
 13  x12     18398 non-null  float64
 14  x13     18398 non-null  float64
 15  x14     18398 non-null  float64
 16  x15     18398 non-null  float64
 17  x16     18398 non-null  float64
 18  x17     18398 non-null  float64
 19  x18     18398 non-null  float64
 20  x19     18398 non-null  float64
 21  x20     18398 non-null  float64
 22  x21     18398 non-null  float64
 23  x22     18398 non-null  float64
 24  x23     18398 non-null  float64
 25  x24     18398 non-null  float64
 26  x25     18398 non-null  float64
 27  x26     18398 non-null  float64
 28  x27     18398 non-null  float64
 29  x28     18398 non-null  int64
 30  x29     18398 non-null  float64
 31  x30     18398 non-null  float64
 32  x31     18398 non-null  float64
 33  x32     18398 non-null  float64
 34  x33     18398 non-null  float64
 35  x34     18398 non-null  float64
 36  x35     18398 non-null  float64
 37  x36     18398 non-null  float64
 38  x37     18398 non-null  float64
 39  x38     18398 non-null  float64
 40  x39     18398 non-null  float64
 41  x40     18398 non-null  float64
 42  x41     18398 non-null  float64
 43  x42     18398 non-null  float64
 44  x43     18398 non-null  float64
 45  x44     18398 non-null  float64
 46  x45     18398 non-null  float64
 47  x46     18398 non-null  float64
 48  x47     18398 non-null  float64
 49  x48     18398 non-null  float64
 50  x49     18398 non-null  float64
 51  x50     18398 non-null  float64
 52  x51     18398 non-null  float64
 53  x52     18398 non-null  float64
 54  x54     18398 non-null  float64
 55  x55     18398 non-null  float64
 56  x56     18398 non-null  float64
 57  x57     18398 non-null  float64
 58  x58     18398 non-null  float64
 59  x59     18398 non-null  float64
 60  x60     18398 non-null  float64
dtypes: datetime64[ns](1), float64(58), int64(2)
memory usage: 8.6 MB
None

In [8]:
!jupyter nbconvert --to script "preprocess.ipynb"

[NbConvertApp] Converting notebook preprocess.ipynb to script
[NbConvertApp] Writing 614 bytes to preprocess.py